*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.container{
    position: relative;
    text-align: center;
    width: 800px;
    height: 480px;
}

.container > h1{
    text-align: center;
    padding: 20px 0px;
}

.input{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(23, 23, 133, 0.5);
    padding: 10px 10px;
    border-radius: 5px;
    margin-bottom: 40px;
}

#record{
    background-color: grey;
    width: fit-content;
    height: 150px;
    padding: 25px;
    border-radius: 100px;
    transition: 0.2s;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

.sub_box{
    display: flex;
    justify-content: center;

}

#save{
    background-color: rgba(0, 128, 0, 0.9) ;
    color: white;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    border-radius: 5px;
    margin-right: 20px;
}

#cancel{
    background-color: rgba(255, 0, 0, 0.9) ;
    color: white;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    border-radius: 5px;
}

#back{
    position: absolute;
    top: 30px;
    left: 15px;
    background-color: burlywood;
    height: 50px;
    width: 50px;
    border-radius: 25px;
}

#back > img{
    height: 50px;
    width: 50px;
}