@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/* 여기 아래는 index.html */
body{
    background: #171717;
}
.background{
    margin: 0;
    width: 800px;
    height: 480px;
    position: relative;
}
a {
    margin-top: 150px;
    margin-bottom: 150px;
    margin-left:300px;
    margin-right: 300px;
    width:  200px;
    height: 180px;
}

.wrap{
    position: absolute;
    width: 800px;
    height: 480px;
    top: 0;
    left: 0;
}
video{
    width: 1024px;
    height: 600px;
}
.blur{
    position: absolute;
    left :0;
    top:0;
    width: 800px;
    height: 480px;
    box-shadow: inset 0 0 0 1000px rgba(255,255,255,0.1);
}


/* 여기 아래는 main.html */
.con1{
    position: absolute;
    left: 10px;
    top:10px;
    text-align: center;
    width: 450px;
    height: 453px;
    border: 3px solid   #393E46;
    background-color:   #393E46;
    box-shadow: 2px 2px 10px 2px rgba(43, 42, 42, 0.3);
    border-radius: 7px;
}
.con2{
    position: absolute;
    left: 475px;
    top:10px;
    text-align: center;
    width: 310px;
    height: 142.5px;
    border: 3px solid  #393E46;
    background-color: #393E46;
    box-shadow: 2px 2px 10px 2px rgba(43, 42, 42, 0.3);
    border-radius: 7px;
}

.con3{
    position: absolute;
    left: 475px;
    top:165.5px;
    text-align: center;
    width: 310px;
    height: 142.5px;
    border: 3px solid  #393E46;
    background-color: #393E46;
    box-shadow: 2px 2px 10px 2px rgba(43, 42, 42, 0.3);
    border-radius: 7px;
}
.con4{
    position: absolute;
    left: 475px;
    top:320.5px;
    text-align: center;
    width: 310px;
    height: 142.5px;
    border: 3px solid  #393E46;
    background-color: #393E46;
    box-shadow: 2px 2px 10px 2px rgba(43, 42, 42, 0.3);
    border-radius: 7px;
}
button{
    outline: none;
    border:0;
    font-size: 15px;
    line-height: 1;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s linear;
    background-color: #5f6369;
}
i{
    color:#fff;
    font-size: 20px;
}
button:hover{
      background-color:  #FFD369  ;
}
.nick{
    position: absolute;
    line-height: 142.5px;
    left:25px;
    font-size: 20px;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 600;
    color: #fff;
}
.nicka{
    position: absolute;
    line-height: 142.5px;
    left:35px;
    font-size: 20px;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 600;
    color: #fff;
}
.degree1{
    position: absolute;
    width: 36px;
    height: 40px;
    top:60px;
    left:155px;
    text-align: right;
    font-size: 20px;
    color: #fff;
    font-weight: 600;
}
.degree2{
    position: absolute;
    width: 30px;
    height: 40px;
    top:60px;
    left:200px;
    text-align: left;
    font-size: 20px;
    color: #fff;
    font-weight: 600;
}
.up{
    position: absolute;
    top:54px;
    left:110px;
}
.down{
    position: absolute;
    top:54px;
    left:240px;
}
.toggle-btn{
    position: absolute;
    left:110px;
    top:48px;
    width: 160px;
    height: 35px;
    background:  #5f6369;
    border-radius: 30px;
    padding:5px;
    align-items: center;
    transition: all 0.3s ease-in-out;
}
.toggle-btn > .inner-circle{
    width: 35px;
    height: 35px;
    background: #fff;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
}
.toggle-btn.active{
    background: #FFD369;
}
.toggle-btn.active> .inner-circle{
    margin-left:122.5px;
  
}
.stage{
    position: absolute;
    left:10px;
    top:5px;
    width: 430px;
    height: 440px;
}

.menu_title{
    width: fit-content;
    font-size: 12px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 3px;
    color: #fff;
    border-bottom: 2px solid #fff;
    text-align: center;
    font-family: 'Nanum Gothic', sans-serif;
}

#menu_list{
    background-color: #5f6369;
    width: 430px;
    height: 390px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 14px;
    border-radius: 5px;
    overflow-y: auto;
}

.menu{
    width: 430px;
    height: 140px;
}

.menu_image{
    height: 140px;
    width: 140px;
    margin-top: 10px;
    margin-left: 10px;
    float: left;
    border-radius: 10px;
}

.menu_description{
    background-color: #eeeeee79;
    text-align: left;
    height: 120px;
    width: 230px;
    margin-top: 10px;
    margin-left: 10px;
    float: left;
    border-radius: 10px;
    padding: 10px;
    color :#fff;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 600;
    font-size: 15px;
    position: relative;
}

.menu_button{
    width: 280px;
    height: 40px;
    display: flex;
    position: absolute;
    bottom: 10px;
}

.recipe{
    background-color:  #FFD369;
    width: 90px;
    height: 40px;
    margin-right: 5px;
    border-radius: 10px;
    line-height: 40px;
    font-size: 14px;
    font-family: 'Nanum Gothic', sans-serif;
    text-align: center;
    color: #171717;
    font-weight: 600;

}

.to_kakao{
    background-color: #eeeeee;
    width: 130px;
    height: 40px;
    font-size: 14px;
    border-radius: 10px;
    line-height: 40px;
    font-family: 'Nanum Gothic', sans-serif;
    text-align: center;
    color: #171717;
    font-weight: 600;

}
#recipe_box{
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    width: 1024px;
    height: 600px;
    position: fixed;
    top:0;
    left:0;
    display: none;
    transition: 0.3s;
    z-index: 10;
}

#recipe_inner{
    background-color: white;
    width: 900px;
    height: 520px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    position: relative;
    border-radius: 5px;
}

#exit{
    position: absolute;
    left: 430px;
    bottom: 10px;
    height: 50px;
    width: 50px;
}

#recipe_description{
    width: 850px;
    height: 500px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 10px;
    font-size: 12px;
}

.recipe_img{
    width: 800px;
    height: 450px;
    margin-left: 5px;
}

#video_box{
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    width: 1024px;
    height: 600px;
    position: fixed;
    top:0;
    left:0;
    display: none;
    transition: 0.3s;
    z-index: 10;
}

#video_inner{
    background-color: white;
    width: 900px;
    height: 520px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    position: relative;
    border-radius: 5px;
}

#exit2{
    position: absolute;
    bottom: 10px;
    left: 430px;
    height: 50px;
}

#video_description{
    width: 800px;
    height: 450px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 10px;
    font-size: 12px;
}

#back{
    position: absolute;
    top: 15px;
    left: 15px;
    background-color: burlywood;
    height: 50px;
    width: 50px;
    border-radius: 25px;
}

#back > img{
    height: 50px;
    width: 50px;
}