@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
}
.body{
    background-size: cover;
    background-repeat: no-repeat;
    width: 800px;
    height: 480px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}

.con{
    width: 140px;
    height: 480px;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top:0px;
    left:10px;

}
a{
    width: 130px;
    height: 130px;
    display: block;
    transition: all 0.5s ease;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;

}
.refrigerator > a >  p{  
    padding-top: 53.5px;
    color: #fff;
    text-align: center;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 600;
    padding-bottom:53.5px;
}
.heatbath > a > p{
    padding-top: 41.5px;
    color: #fff;
    text-align: center;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 600;
    padding-bottom:41.5px;
}
.door > a > p{  
    padding-top: 53.5px;
    color: #fff;
    text-align: center;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 600;
    padding-bottom:53.5px;
}

.refrigerator > a > p:hover{
    color: #000;
}
.heatbath > a > p:hover{
    color: #000;
}
.door > a > p:hover{
    color: #000;
}
.refrigerator:hover{
    background-color: #fff;
}
.heatbath:hover{
    background-color: #fff;
}
.door:hover{
    background-color: #fff;
}
.refrigerator{  
    border: 3px solid #fff;
    width: 130px;
    height: 130px;
    text-align: center;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    box-shadow: 2px 2px 15px 2px rgba(0,0,0,0.65);
    border-radius: 5px;
}
.heatbath{
    border: 3px solid #fff;
    width: 130px;
    height: 130px;
    text-align: center;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    box-shadow: 2px 2px 15px 2px rgba(0,0,0,0.65);
    border-radius: 5px;
}
.door{
    border: 3px solid #fff;
    width: 130px;
    height: 130px;
    text-align: center;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    box-shadow: 2px 2px 15px 2px rgba(0,0,0,0.65);
    border-radius: 5px;
}

/*  여기 아래부터는 index.html */
.container{
    position: relative;
    text-align: center;
    width: 800px;
    height: 480px;
}

.login_title{
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
    padding-top: 50px;
}

.container > h3{
    margin-top: 120px;
    background-color: blue;
    width: fit-content;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    color: white;
}

.container > h4{
    margin-top: 20px;
    border-bottom: 1px solid black;
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
}