@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
}
.body{
    background-size: cover;
    background-repeat: no-repeat;
    width: 800px;
    height: 480px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}

.con{
    width: 350px;
    height: 440px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top:28px;
    left:4px;

}
a{
    width: 350px;
    height: 140px;
    display: block;
    transition: all 0.5s ease;
    text-decoration: none;
    font-size: 25px;
    font-weight: 600;
    text-decoration: none;

}
.refrigerator > a >  p{  
    padding-top: 60px;
    width: 340px;
    height: 80px;
    color: #fff;
    text-align: center;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 600;
}
.heatbath > a > p{
    padding-top: 60px;
    width: 340px;
    height: 80px;
    color: #fff;
    text-align: center;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 600;
}
.door > a > p{  
    padding-top: 60px;
    width: 340px;
    height: 80px;
    color: #fff;
    text-align: center;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 600;
}

.refrigerator > a > p:hover{
    color: #000;
}
.heatbath > a > p:hover{
    color: #000;
}
.door > a > p:hover{
    color: #000;
}
.refrigerator:hover{
    background-color: #fff;
}
.heatbath:hover{
    background-color: #fff;
}
.door:hover{
    background-color: #fff;
}
.refrigerator{  
    width: 335px;
    height: 140px;
    background-color: #303030;
    text-align: center;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 3px;
}
.heatbath{
    background-color: #303030;
    width: 335px;
    height: 140px;
    text-align: center;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 3px;
}
.door{
    background-color: #303030;
    width: 335px;
    height: 140px;
    text-align: center;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 3px;
}

/*  여기 아래부터는 index.html */
.container{
    position: relative;
    text-align: center;
    width: 1024px;
    height: 600px;
}
.back_1{
    position: absolute;
    margin: 0px;
    width: 1024px;
    height: 600px;
    box-shadow: inset 0 0 0 1000px rgba(255,255,255,0.1);
}
.background{
    position:absolute;
    margin: 0px;
    width: 1024px;
    height: 600px;
}
.background > img{
    width: 1024px;
    height: 600px;
}
.back_1{
    position: absolute;
    width: 1024px;
    height: 600px;
    box-shadow: inset 0 0 0 1000px rgba(138, 136, 136, 0.3);
}
.img_box{
    position:absolute;
    top:10px;
    left:480px;
    width: 40px;
    height: 40px;
}
.img_box > i{
    color:#fff;
    font-size: 40px;
    text-shadow: 3px 3px 5px #000;
}
.login_title1{
    position:absolute;
    top:250px;
    left:353px;
    width: fit-content;
    font-size: 35px;
    font-weight: 600;
    color: #fff;
    padding-top: 50px;
    text-shadow: 3px 3px 5px #000;
    text-align: center;
}
.login_title2{
    position:absolute;
    top:250px;
    left :361px;
    width: fit-content;
    font-size: 35px;
    font-weight: 600;
    color: #fff;
    padding-top: 50px;
    text-shadow: 3px 3px 5px #000;
    text-align: center;
}
