@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
*{
    margin: 0;
    padding: 0;
	text-decoration: none;
}

.menu-bar{
    width: 100%;
    height: 80px;
    background-color: #242424;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}
i{
   position:absolute;
   left:38px;
   text-shadow: 2px 2px 1px #000;
   top:18px;
   font-size: 47px;
   color: #fff;
}
.button {
    position:absolute;
    top:18px;
    outline: none;
    display: block;
    border:0;
    background-color: #414040;
    font-weight: 600;
    text-shadow: 2px 2px 1px #000;
    font-size: 32px;
    font-family: 'Nanum Gothic', sans-serif;
    color: #fff;
    transition: all 0.5s linear;
    border-radius: 5px;
    padding: 5px;
	box-shadow: 2px 2px 15px 2px rgba(0,0,0,0.65);
}
.button:hover{
    background-color: #fff;
    color:#000;
    text-shadow: 0px 0px 0px #000;
}
.a{
    left:643px;
}
.b{
    left:727px;
}
.c{
	left:901px;
}
.home-section{
    background-color: #242424;
    width: 100%;
    height: 520px;
    position: relative;
    z-index: 2;
}
/* 현관 */
.conc{
    position: absolute;
    left:25px;
    top:0px;
    background-color: #414040;
    border-radius: 5px;
    width: 975px;
    height: 500px;
	box-shadow: 2px 2px 15px 2px rgba(0,0,0,0.65);
}
canvas{
	position: absolute;
    left: 20px;
	top: 10px;
	width: 935px;
	height: 480px;
}

/* 음성메세지 */
.conb{
    position: absolute;
    left:26px;
    top:0px;
    background-color: #414040;
    border-radius: 5px;
    width: 975px;
    height: 500px;
	display:flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
h1{
	margin-top: 10px;
	margin-left: 10px;
	font-size:30px;
	height: 32px;
	font-family: 'Nanum Gothic', sans-serif;
	font-weight: 600;
	color: #fff;
}
.list_box{
	margin-top: 5px;
	height: 360px;
	width: 750px;
	margin-right: auto;
	margin-left: auto;
}

.list1{	
	background-color: rgba(0, 0, 0, 0.7);
	height: 360px;
	margin-bottom: 0px;
	overflow-y: auto;
	overflow-x: auto;
}

#message0, #message1, #message2, #message3,
#message4, #message5, #message6, #message7,
#message8, #message9{
	margin-top: 20px;
	cursor: pointer;
	display: flex;
	position: relative;
	margin-left: 18px;
	margin-right: 18px;
	background-color: whitesmoke;
	padding: 10px;
	border-radius: 10px;
	visibility: hidden;
}

.trash{
	background-color: gray;
	cursor: pointer;
	right: 10px;
	height: 20px;
	position: absolute;
	border-radius: 2px;
	z-index: 100;
}

.conb > audio{
    width: 310px;
	height: 50px;
	margin-bottom: 5px;

}

/* 방문객 */

.img{
	width: 935px; 
	height: 470px;
}
.section {
	position: absolute; 
	top:20px; 
	left:20px;
	width: 935px;
	height: 470px;
}
.section input[id*="slide"] {
	display:none;
}
.section .slide-wrap {
	max-width:1200px;
	margin:0 auto;
}
.section .slidelist {
	white-space:nowrap;
	font-size:0;
	overflow:hidden;
}
.section .slidelist >li {
	display:inline-block;
	vertical-align:middle;
	width:100%;
	transition:all .5s;
}
.section .slidelist > li > a {
	display:block;
	position:relative;
}
.section .slidelist >li > a img {
	width:100%;
}
.section .slidelist label {
	position:absolute;
	z-index:10;
	top:50%;
	transform:translateY(-50%);
	padding:50px;
	cursor:pointer;
}
.section .slidelist .left {
	left:30px;
	background:url('./left.png') center center / 100% no-repeat;
}
.section .slidelist .right {
	right:30px;
	background:url('./right.png') center center / 100% no-repeat;
}
.section .slidelist .textbox {
	position:absolute;
	z-index:1;
	top:92%;
	left:80%;
	transform:
	translate(-50%,-50%);
	line-height:1.6;
	text-align:center;
}

.section .slidelist .textbox p {
	font-size:30px;
	color:#FF4000;
	opacity:0; 
	transform:translateY(30px);
	transition:all .5s;
}

.section input[id="slide01"]:checked ~ .slide-wrap .slidelist > li {
	transform:translateX(0%);
}
.section input[id="slide02"]:checked ~ .slide-wrap .slidelist > li {
	transform:translateX(-100%);
}
.section input[id="slide03"]:checked ~ .slide-wrap .slidelist > li {
	transform:translateX(-200%);
}
.section input[id="slide04"]:checked ~ .slide-wrap .slidelist > li {
	transform:translateX(-300%);
}
.section input[id="slide05"]:checked ~ .slide-wrap .slidelist > li {
	transform:translateX(-400%);
}
.section input[id="slide06"]:checked ~ .slide-wrap .slidelist > li {
	transform:translateX(-500%);
}
.section input[id="slide07"]:checked ~ .slide-wrap .slidelist > li {
transform:translateX(-600%);
}
.section input[id="slide08"]:checked ~ .slide-wrap .slidelist > li {
	transform:translateX(-700%);
}
.section input[id="slide09"]:checked ~ .slide-wrap .slidelist > li {
	transform:translateX(-800%);
}
.section input[id="slide10"]:checked ~ .slide-wrap .slidelist > li {
	transform:translateX(-900%);
}
.section input[id="slide10"]:checked ~ .slide-wrap li:nth-child(1) .textbox h3 {
	opacity:1;
	transform:translateY(0);
	transition-delay:.2s;
}
.section input[id="slide01"]:checked ~ .slide-wrap li:nth-child(1) .textbox p {
	opacity:1;
	transform:translateY(0);
	transition-delay:.4s;
}
.section input[id="slide02"]:checked ~ .slide-wrap li:nth-child(2) .textbox h3 {
	opacity:1;
	transform:translateY(0);
	transition-delay:.2s;
}
.section input[id="slide02"]:checked ~ .slide-wrap li:nth-child(2) .textbox p {
	opacity:1;
	transform:translateY(0);
	transition-delay:.4s;
}
.section input[id="slide03"]:checked ~ .slide-wrap li:nth-child(3) .textbox h3 {
	opacity:1;
	transform:translateY(0);
	transition-delay:.2s;
}
.section input[id="slide03"]:checked ~ .slide-wrap li:nth-child(3) .textbox p {
	opacity:1;
	transform:translateY(0);
	transition-delay:.4s;
}
.section input[id="slide04"]:checked ~ .slide-wrap li:nth-child(4) .textbox h3 {
	opacity:1;
	transform:translateY(0);
	transition-delay:.2s;
}
.section input[id="slide04"]:checked ~ .slide-wrap li:nth-child(4) .textbox p {
	opacity:1;
	transform:translateY(0);
	transition-delay:.4s;
}
.section input[id="slide05"]:checked ~ .slide-wrap li:nth-child(5) .textbox h3 {
	opacity:1;
	transform:translateY(0);
	transition-delay:.2s;
}
.section input[id="slide05"]:checked ~ .slide-wrap li:nth-child(5) .textbox p {
	opacity:1;
	transform:translateY(0);
	transition-delay:.4s;
}
.section input[id="slide06"]:checked ~ .slide-wrap li:nth-child(6) .textbox h3 {
	opacity:1;
	transform:translateY(0);
	transition-delay:.2s;
}
.section input[id="slide06"]:checked ~ .slide-wrap li:nth-child(6) .textbox p {
	opacity:1;
	transform:translateY(0);
	transition-delay:.4s;
}
.section input[id="slide07"]:checked ~ .slide-wrap li:nth-child(7) .textbox h3 {
	opacity:1;
	transform:translateY(0);
	transition-delay:.2s;
}
.section input[id="slide07"]:checked ~ .slide-wrap li:nth-child(7) .textbox p {
	opacity:1;
	transform:translateY(0);
	transition-delay:.4s;
}
.section input[id="slide08"]:checked ~ .slide-wrap li:nth-child(8) .textbox h3 {
	opacity:1;
	transform:translateY(0);
	transition-delay:.2s;
}
.section input[id="slide08"]:checked ~ .slide-wrap li:nth-child(8) .textbox p {
	opacity:1;
	transform:translateY(0);
	transition-delay:.4s;
}
.section input[id="slide09"]:checked ~ .slide-wrap li:nth-child(9) .textbox h3 {
	opacity:1;
	transform:translateY(0);
	transition-delay:.2s;
}
.section input[id="slide09"]:checked ~ .slide-wrap li:nth-child(9) .textbox p {
	opacity:1;
	transform:translateY(0);
	transition-delay:.4s;
}
.section input[id="slide10"]:checked ~ .slide-wrap li:nth-child(10) .textbox h3 {
	opacity:1;
	transform:translateY(0);
	transition-delay:.2s;
}
.section input[id="slide10"]:checked ~ .slide-wrap li:nth-child(10) .textbox p {
	opacity:1;
	transform:translateY(0);
	transition-delay:.4s;
}